
     <div class="container">
      <table class="table table-striped">
        <thead >
          <tr>
            <th>nombre</th>
            <th>apellidos</th>
            <th>fechanacimiento</th>
            <th>fechavacunado</th>
            <th>profesion</th>
            <th>vacuna</th>
            <th>editar</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let persona of personas">
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellidos}}</td>
            <td>{{persona.fechanacimiento}}</td>
            <td>{{persona.fechavacunado}}</td>
            <td>{{persona.profesion}}</td>
            <td>{{persona.vacuna}}</td>
            <td>
              <button class="btn btn-secondary btn-sm" (click) = "modificar(persona._id)">
                <i class="material-icons">edit </i>
              </button>
            <!--   <button type="button" class="btn btn-danger  btn-sm" (click) = "delete(persona._id)">
                <i class="material-icons">delete</i></button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  <!--   <div class="row">
      <div class="col-md-4"></div>
    <div  class="example-button-row col-md-8">
      <button (click)="nuevoResultado()" class="btn btn-primary" >Añadir Nuevo Resultado Clínico</button>
    </div>
  </div> -->
